body {
    width: 800px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}

iframe {
    margin-left: -10%;
    margin-top: -10px;
    border-width: 0px;
    width: 120%;
    height: 103%;
}
