body {
    width: 800px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content {
    height: 100%;
    width: 790px;
    margin-left: -5px;

    overflow: scroll;
    overflow-x: auto;
}
